.a-list-form-container {
    margin: 0 auto;
    /* padding-top: 10rem; */
    width: 80%;
}

.a-detail-form-container {
    background-color: rgb(255, 255, 255);
    border: 1px solid ;
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    border-radius: 30px;
}

.a-detail-info {
    padding: 10px;
    margin-top: 10px;
}

.a-detail-content {
    background-color: white;
    border: solid 1px #169fec;
    border-radius: 30px;
}

.a-detail-text {
    padding: 30px;
}


.coco-lang {
    display: inline;
    font-size: small;
}

.coco-btn {
    text-align: center;
    margin: 0 auto;
}


.btn-form-coco {
    text-align: center;
    margin: 0 auto;
}

.btn-a-list {
    margin-bottom: 20px;
    margin-left: 930px;
}

.pf-img-alist {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.a-list-nick {
    margin-top: 25px;
    margin-left: -25px;
 
}

.pf-img {
    margin-bottom: 10px;
}

