.form-container {
    background-color: rgb(255, 255, 255);
    border: 1px solid #189FEC;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    border-radius: 30px;
}

span {
    color: #189FEC;
}


.coco-lang {
    display: inline;
    font-size: small;
}

.coco-btn {
    text-align: center;
    margin: 0 auto;
}

/*.ck-editor__editable { */
/*    height: 200px; */
/*    */
/*}*/

.like-btn {
    padding: 4px;
    margin-top: 5px;
}

.btn-form-coco {
    text-align: center;
    margin: 0 auto;
}