
/*질문 작성*/
.form-container-coco {
    background-color: rgb(255, 255, 255);
    border: 1px solid #189FEC;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    border-radius: 50px;
}


.btn-form-coco {
    text-align: center;
    margin: 0 auto;
}


.ck-editor__editable { 
    height: 30rem;
}
