$accent: #189FEC;


/* 전체 박스 - coco */
.folder-container-coco {
    margin: 0 auto;
    padding-top: 50px;
    width: 1250px;

    .folder-bar{
        margin-left:10%;

        /* 타이틀 : 폴더명 */
        .folder-name-coco {
            display: inline;
            background-color: #E7E7E7;
            color: #189FEC;
            font-weight: 500;
            padding: 8px;
            width: 100px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .btn-question-add {
            //display: inline;
            padding-left: 15px;
        }

    }
    
}

/* 코코 폴더 내용 */
.folder-content-coco{
    width: 80%;
    background-color: #E7E7E7;
    margin: 0 auto;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 1rem;
    height: 50rem;
    overflow:auto;

    /* 코코 세션 : 폴더 아이템 */
    .folder-item-coco{
        background-color: #ffffff7b;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 15px;
        margin: 0.5rem;
        height: 200px;

        /* 썸네일 */
        .item-left-coco {
            margin-left: 10px;
            .item-img-coco {
                display: inline-block;
                //width: 234px;
                //height: 160px;
            }

            .btn-apply {
                margin-top: 30px;
            }
        }


        /* 코코 제목, 내용 */
        .item-text-coco {
            display: inline-block;
            width: 80%;
            //padding-left:70px;

            .item-coin-coco {
                display: inline-block;
                color: #484848;
                font-weight: bold;
                //padding-left: 30%;
            }

            .item-title-coco {
                color: $accent;
                font-size: x-large;
                font-weight: 600;
                padding-top: 5px;
            }

            .item-author-coco {
                color: #484848;
                padding-right: 20px;
                font-size: 12px;
            }

            .item-content-coco {
                color: #484848;
                height: 90px;
                overflow: scroll;
            }
        }


    }
}

.folder-item-coco:hover{
    background-color: rgba(0, 0, 0, 0.58);
    height: 270px;

    .item-text-coco{
        .item-coin-coco{
            color: #e7e7e7;
        }

        .item-title-coco{
            color: #e7e7e7;
        }

        .item-author-coco {
            color: #e7e7e7;
        }

        .item-content-coco{
            color: white;
            height: 160px;
        }
    }

}


/* 전체 박스 - question */
.folder-container-q {
    margin: 0 auto;
    padding-top: 50px;
    width: 1250px;

    .folder-bar-q{
        margin-left:10%;

        /* 타이틀 : 폴더명 */
        .folder-name-q {
            display: inline;
            background-color: #E7E7E7;
            color: #189FEC;
            font-weight: 500;
            padding: 8px;
            width: 100px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .btn-question-add-q {
            //display: inline;
            padding-left: 15px;
        }

        .btn-sort {
            display: inline;
            /* float: right; */
            margin-right: 12%;
        }

    }

}

/* 질문 폴더 내용 */
.folder-content-question{
    width: 80%;
    background-color: #E7E7E7;
    margin: 0 auto;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 1rem;
    height: 50rem;
    overflow:auto;
}

/* 질문 : 폴더 아이템 */
.folder-item-question{
    height: 175px;
    background-color: #ffffff7b;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    margin: 0.5rem;

    /* 질문 제목, 내용 */
    .item-text-question {
        display: inline;
        padding-left: 2rem;


        .item-title-question {
            font-size: x-large;
            font-weight: 600;
            color: $accent;
            //width: 50px;
        }

        .item-author-question {
            color: #484848;
            padding-right: 20px;
            font-size: 12px;
        }

        .item-content-question {
            color: #484848;
            //background-color: #00bf9a;
            //width: 100%;
            height: 68px;
            overflow: scroll;
            font-size: 15px;
        }
    }
}

.folder-item-question:hover{
    background-color: rgba(0, 0, 0, 0.58);

    .item-title-question {
        color: white;
    }

    .item-author-question{
        color: #e7e7e7;
    }

    .item-content-question{
        color: #e7e7e7;
    }
}










