/**{*/
/*  margin-top: 0;*/
/*  padding-top: 0;*/
/*}*/

/* 헤더 바 전체 */
#nav-header {
    /*align-items: center;*/
    //display: flex;
    //width: 100%;
    //text-align: center;
    //justify-content: space-between;
    //margin: 0 auto;
    
  }

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  //height: 6rem;
}

/* 헤더 아이템 */
.nav-items {
  list-style: none;
  margin: 0 auto;
  line-height: 60px;
  justify-content: space-between;
  position: relative;
  display: flex;
  width: 100%;
}

#logo {
  //display: inline-block;
  text-align: center;
  min-width: 100px;
  margin-left: 10%;
}

.nav-item {
  display: inline-block;
  width: 130px;
  height: 80px; 
  /* padding: 0px; */
  text-align: center;
  min-width: 100px;
  padding-right: 10rem;
  
}

.nav-pageitems {
  display: inline;
  //padding-left: 30%;
}

.dropdown-items {
  width: 50px;

  .dropdown-item {
    display: block;
    width: 100%;
    color: #9A9A9A;
    //padding: 0.25rem 1.5rem;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    //white-space: nowrap;
  }

}