.coco-profile {

    /* 프로필 사진 */
    .pf-img {
        img {
            width: 150px;
        }
    }

    .pf-text {

        .pf-nickname {
            font-size: xx-large;
            padding-left: 40px;
        }

        .pf-coin {

            .member-coin {
                color: #484848;
                font-weight: bold;
            }
        }

        //만족도 점수
        .pf-progress {
            padding-left: 40px;
        }

        .pf-progress-per {
            color: #189FEC;
            font-size: 16px;

            #accent-value {
                font-size: 24px;
                font-weight: bold;
            }
        }

        .pf-settings {
            .tag-input {
                background: linear-gradient(45deg, rgba(62, 165, 250, 0.91), #189FEC);
                color: white;
                font-weight: normal;
                font-size: 14px;
                padding: 5px;
                margin-left: 3px;
                margin-right: 3px;
                border-radius: 20px;
                text-align: center;
                line-height: 2rem;
            }
        }
    }
}

.coco-pf-tab {
    padding-top: 4rem;
}

///* change the colors */
//$primary: rebeccapurple;
//$danger: #dd0000;
//$success: lime;
//$warning: orange;
//$info: #55128c;
//
//$body-bg: #f3f3f0;
//
//@import "bootstrap";
