/*.mypage-main {*/
/*    margin: 0 auto;*/
/*    text-align: center;*/
/*}*/
$accent: #189FEC;

.wrapper {
    margin: 0 auto;
    padding-top: 5%;
    width: 100%;
    height: 500px;
    //background: #00f2c3;
}


/*프로필 탭 전체*/
.nav-tabs-info {
    border-right: 3px solid #189FEC;
    padding-right: 100px;
    height: 400px;
    width: 100%;

    /*프로필 탭 아이템*/
    .nav-item-mypage {
        width: 300px;
        color: #484848 !important;


    }

}

/*프로필 탭 컨텐츠*/
.mypage-tab-content {
    height: 400px;
    overflow: scroll;

    .mypage-tab-item {
        overflow: clip;
    }
}


.inactive {
    color: #484848;
}

.inactive:hover {
    color: #189FEC;
    transform: scale(1.1);
}

.active {
    font-weight: bold;
    color: #189FEC;
}

.labels {
    font-weight: normal;
    padding-left: 20px;
}

// 프로필 탭
.row-mypage-profile {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;

    .pf-tab-label {

    }

    .pf-tab-content {
        .tag-input {
            background-color: rgba(24, 159, 236, 0.72);
            color: white;
            font-weight: normal;
            font-size: 14px;
            padding: 5px;
            margin-left: 3px;
            margin-right: 3px;
            border-radius: 20px;
            text-align: center;
            line-height: 2rem;
        }
    }
}

//내 질문 목록 탭
.table-questions {
    text-align: center;

    .table-questions-col{
        color: #189FEC;
    }

    tbody {
        color: #484848;
        font-weight: normal;
    }
}


.table-question-title {
    width: 100%;
    text-align: left;

}

//.title-block:hover{
//    color: #1d8cf8;
//    transform: scale(1.1);
//}