.coco-profile {
    width: 650px;

    /* 프로필 사진 */
    .pf-img {
        //display: inline-block;
        width: 140px;
        height: 140px;
        border-radius: 50%;
        object-fit: cover;
    }


    .pf-text {

        .pf-nickname {
            font-size: xx-large;
            padding-left: 40px;
        }

        .pf-coin {

            .member-coin {
                color: #484848;
                font-weight: 500;
            }
        }

        //만족도 점수
        .pf-progress {
            padding-left: 40px;
            width: 500px;
        }

        .pf-progress-per {
            color: #189FEC;
            font-size: 16px;

            #accent-value {
                font-size: 24px;
                font-weight: bold;
            }
        }

        .pf-settings {
            margin-left: 30px;
            justify-content: center;
            align-items: center;

            
            //.tag-input {
            //    background: linear-gradient(45deg, rgba(62, 165, 250, 0.91), #189FEC);
            //    color: white;
            //    font-weight: normal;
            //    font-size: 13px;
            //    padding: 2px 8px;
            //    margin: 0 auto;
            //    margin-left: 3px;
            //    margin-right: 3px;
            //    border-radius: 20px;
            //    //text-align: center;
            //    //line-height: 2rem;
            //}
        }
    }
}

.coco-pf-tab {
    padding-top: 4rem;
}

.skill-btn {
    background: linear-gradient(45deg, #5c8eb3, #5c8eb3);
                color: white;
                font-weight: normal;
                font-size: 13px;
                padding: 2px 8px;
                margin-left: 3px;
                margin-right: 3px;
                border-radius: 20px;
                text-align: center;
                line-height: 2rem;
}



///* change the colors */
//$primary: rebeccapurple;
//$danger: #dd0000;
//$success: lime;
//$warning: orange;
//$info: #55128c;
//
//$body-bg: #f3f3f0;
//
//@import "bootstrap";
