/*.mypage-main {*/
/*    margin: 0 auto;*/
/*    text-align: center;*/
/*}*/

.wrapper {
    margin: 0 auto;
    padding-top: 5%;
    width: 100%;
    height: 500px;
    //background: #00f2c3;
}


/*프로필 탭 전체*/
.nav-tabs-info {
    border-right: 3px solid #189FEC;
    padding-right: 100px;
    height: 400px;
    width: 100%;

    /*프로필 탭 아이템*/
    .nav-item-mypage {
        width: 300px;
        color: #484848 !important;


    }

}

/*프로필 탭 컨텐츠*/
.mypage-tab-content {
    height: 400px;
    overflow: scroll;

    .mypage-tab-item {
        overflow: clip;
    }
}


.inactive {
    color: #484848;
}

.inactive:hover {
    color: #189FEC;
    transform: scale(1.1);
}

.active {
    font-weight: bold;
    color: #189FEC;
}

.labels {
    font-weight: normal;
    padding-left: 20px;
}

.row-mypage-profile {
    margin-top: 10px;
    margin-bottom: 20px;
}

//내 질문 목록 탭
.table-questions {
    text-align: center;

    .table-questions-col{
        color: #189FEC;
    }

    tbody {
        color: #484848;
        font-weight: normal;
    }
}


.table-question-title {
    width: 100%;
    text-align: left;

}

//.title-block:hover{
//    color: #1d8cf8;
//    transform: scale(1.1);
//}