.container-question-detail {
    margin: 0 auto;    
}

.q-detail-info {
    width: 78%;
    margin: 0 auto;
    margin-bottom: 5px;
    margin-top: 20px;
}

.q-detail-form-container {
    background-color: rgb(255, 255, 255);
    border: 1px solid #189FEC;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 30px;
    margin-top: 10px;
}

.q-detail-text {
    padding: 20px;
}

.q-detail-title {
    width: 77%;
    margin: 0 auto;
    margin-top: 100px;
}

.btn-q-detail {
    float: right;
    padding-right: 170px;
    margin-top: 10px;
}

.pf-img-qdetail {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}


.pf-nickname {
    padding-left: 20px;
}

.toastui-editor-contents p{
    font-size: 14px;
}

.toastui-editor-contents code {
    font-size: 14px;
}

/* .toastui-editor-contents code:hover {
    color: white;
} */

.pf-img-qdetail {
    width: 60px;
    height: 60px;
}

.pf-nickname-qdetail {
    margin-left: -18px;
}

.item-tag-q-detail {
    margin-left: -20px;
}

.btn-q-detail > a {
    text-decoration: none;
}

