.container-question-detail {
    margin: 0 auto;

    
}

.q-detail-info {
    width: 78%;
    margin: 0 auto;
    margin-top: 50px;

}

.q-detail-form-container {
    background-color: rgb(255, 255, 255);
    border: 1px solid #189FEC;
    width: 80%;
    margin: 0 auto;
    margin-top: 5px;
    padding: 10px;
    border-radius: 30px;
}

.q-detail-text {
    padding: 20px;
}

.q-detail-title {
    width: 78%;
    margin: 0 auto;
    margin-top: 50px;
}

.btn-q-detail {
    text-align: end;
}