.LoginPage {
    border: 2px solid #d3d3d3;
    border-radius: .5em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 1em;
    text-align: left;
    width: 600px;
  }
  
  .form {
    padding: 1em;
  }
  
  .label {
    font-weight: 600;
  }

  .form-control {
    display: inline;
    width: 300px;
  }

  .loginPageButton {
    background-color: #169fec;
    width: 330px;

  }

  .loginPageCoco {
    color: #169fec;
  }

  .joinMemberButton {
    background-color: #169fec;
    width: 330px;
    margin-top: 10px;
  }
  .findIdButton {
    color: #169fec;
    width: 163px;
    background-color: #d3d3d3;
  }

  .findPasswordButton {
    color: #169fec;
    width: 163px;
    margin-left: 5px;
    background-color: #d3d3d3;
  }