$accent: #189FEC;
$main : #484848;
$pale : #989898;

$lang : rgba(24, 159, 236, 0.72);
$tech : rgba(15, 99, 150, 0.72);

// 폰트
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Krona+One&family=Righteous&display=swap');
//font-family: 'IBM Plex Sans KR', sans-serif;
//font-family: 'Krona One', sans-serif;
//font-family: 'Righteous', cursive;

main {
  padding-top: 150px;
}

* {
  font-family: 'IBM Plex Sans KR', sans-serif;
}

//상단 타이틀
.title-coco {
  margin: 0 auto;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  //font-family: 'Krona One', sans-serif;
  font-family: 'Righteous', cursive;

  .title-accent-coco {
    color: #189FEC;
    font-family: 'Righteous', cursive;
  }
}



//페이지 이동 버튼
@import url('https://fonts.googleapis.com/css?family=Mukta:700');

@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
  transition: $property $duration $ease;
}

.move-page {
  margin-top: 10px;
  margin-left: 43%;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  &.move-page {
    width: 12rem;
    height: auto;
    .circle {
      @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
      position: relative;
      display: block;
      margin: 0;
      width: 2rem;
      height: 2rem;
      background: $accent;
      border-radius: 1.2rem;
      .icon {
        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: white;
        &.arrow {
          @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
          left: 0.150rem;
          width: 1.125rem;
          height: 0.125rem;
          background: none;
          &::before {
            position: absolute;
            content: '';
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid #fff;
            border-right: 0.125rem solid #fff;
            transform: rotate(45deg);
          }
        }
      }
    }
    .button-text {
      @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.25rem 0;
      margin: 0 0 0 1.85rem;
      color: $pale;
      font-weight: normal;
      line-height: 1.6;
      text-align: center;
      text-transform: uppercase;
    }
  }
  &:hover {
    .circle {
      width: 100%;
      .icon {
        &.arrow {
          background: white;
          transform: translate(1rem, 0);
        }
      }
    }
    .button-text {
      color: white;
    }
  }
}

// 툴팁

// 빛나는 버튼
.btn-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-edit {
  width: 80px;
  height: 40px;
  //font-family: 'Roboto', sans-serif;
  //font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: $pale;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.btn-edit:hover {
  background-color: $accent;
  box-shadow: 0px 10px 15px rgba(157, 206, 255, 0.49);
  color: #fff;
  transform: translateY(-7px);
}

// 그라디언트 버튼
.btn-hover {
  width: 80px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  margin: 0 40px;
  top: -40px;
  height: 35px;
  text-align:center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-1 {
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.btn-hover.color-8 {
  background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
.btn-hover.color-9 {
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.btn-hover.color-11 {
  background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}


// 셀렉트 옵션
.form-select {
  $form-select-color: $accent;
  $form-select-bg: black;
}

// 태그
.tag-input {
  background-color: rgba(24, 159, 236, 0.72);
  color: white;
  font-weight: normal;
  font-size: 13px;
  padding: 2px 8px;
  //margin-left: 3px;
  margin-right: 5px;
  border-radius: 20px;
  text-align: center;
  line-height: 2rem;
}

.tag-input-tech {
  background-color: $tech;
}

.tag-size {
  background-color: rgba(24, 159, 236, 0.72);
  color: white;
  font-weight: normal;
  font-size: 12px;
  padding: 2px 8px;
  margin: 0 3px;
  border-radius: 20px;
  text-align: center;
  line-height: 1.8rem;
}

.tag-size-tech {
  background-color: $tech;
}

// 검색창
.search-bar{
  margin: 35px 0 50px 0;
}
.searchform {
  //background:#f4f4f4;
  //background:rgba(244,244,244,.79);
  //border: 1px solid #d3d3d3;
  //left: 50%;
  padding: 2px 5px;
  //position: absolute;
  //margin: -22px 0 0 -170px;
  margin: 0 auto;
  //top: 50%;
  width:700px;
}

.searchform select {
  // 드롭다운
  background-color: transparent;
  border: none;
  font-weight: 500;
  padding: 10px 10px;
  margin: 0 10px;
  color: $accent;
  width: 150px;
}

.searchform input, .searchform button, .searchform select {
  float: left;
}
.searchform input {
  background:#fefefe;
  border: none;
  font-size: 14px;
  color: #484848;
  height: 42px;
  //font:12px/12px 'HelveticaNeue', Helvetica, Arial, sans-serif;
  //margin-right: 5px;
  margin: 0 auto;
  padding: 10px 20px 10px 20px;
  width: 350px;
  box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
  -moz-box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
  border-radius: 20px 0 0 20px;
  -moz-border-radius: 20px 0 0 20px;
  -webkit-border-radius: 20px 0 0 20px;
}
.searchform input:focus {
  outline: none;
  box-shadow:0 0 4px #0d76be inset;
  -moz-box-shadow:0 0 4px #0d76be inset;
  -webkit-box-shadow:0 0 4px #0d76be inset;
}
.searchform input::-webkit-input-placeholder {
  font-style: italic;
  line-height: 15px
}

.searchform input:-moz-placeholder {
  font-style: italic;
  line-height: 15px
}

.searchform button {
  background: rgb(52,173,236);
  background: -moz-linear-gradient(top, rgba(52,173,236,1) 0%, rgba(38,145,220,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(52,173,236,1)), color-stop(100%,rgba(38,145,220,1)));
  background: -webkit-linear-gradient(top, rgba(52,173,236,1) 0%,rgba(38,145,220,1) 100%);
  background: -o-linear-gradient(top, rgba(52,173,236,1) 0%,rgba(38,145,220,1) 100%);
  background: -ms-linear-gradient(top, rgba(52,173,236,1) 0%,rgba(38,145,220,1) 100%);
  background: linear-gradient(to bottom, rgba(52,173,236,1) 0%,rgba(38,145,220,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34adec', endColorstr='#2691dc',GradientType=0 );
  border: none;
  color:#fff;
  cursor: pointer;
  font: 13px/13px 'HelveticaNeue', Helvetica, Arial, sans-serif;
  padding: 15px 10px;
  margin: 0 auto;
  width: 90px;
  height: 42px;
  box-shadow: 0 0 2px #2692dd inset;
  -moz-box-shadow: 0 0 2px #2692dd inset;
  -webkit-box-shadow: 0 0 2px #2692dd inset;
  border-radius: 0 20px 20px 0;
  -moz-border-radius: 0 20px 20px 0;
  -webkit-border-radius: 0 20px 20px 0;
}
.searchform button:hover {
  opacity:.9;
}